@media screen {
  .hero-wrapper {
    gap: 10px;
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    flex-direction: column;
    color: var(--dark-color);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;
    background: rgb(237,131,128);
    background: -moz-linear-gradient(209deg, rgba(237,131,128,1) 0%, rgba(170,242,170,1) 100%);
    background: -webkit-linear-gradient(209deg, rgba(237,131,128,1) 0%, rgba(170,242,170,1) 100%);
    background: linear-gradient(209deg, rgba(237,131,128,1) 0%, rgba(170,242,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed8380",endColorstr="#aaf2aa",GradientType=1);
  }


  .hero-section {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


  .hero-img h1 span {
    color: var(--secondary-color);
  }


  .job-count {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    flex-direction: column;
    backdrop-filter: blur(7px);
    color: var(--primary-color);
    -webkit-backdrop-filter: blur(7px);
    background: rgba(242, 245, 244, 0.15);
  }

  .job-top {
    top: 60px;
    right: -10px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
  }

  .job-top h1 {
    font-size: 1.4rem;
    color: var(--tertiary-color);
  }

  .job-top span {
    font-weight: 300;
    font-size: .7rem;

  }

  .job-bottom {
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    color: var(--primary-color);
  }

  .job-bottom h1 {
    font-size: 1rem;
  }

  .job-img-contain {
    display: flex;
    position: relative;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }

  .p-img {
    height: 60px;
    width: 60px;
    position: relative;
    object-fit: cover;
    border-radius: 360%;
    object-position: center;
    border: 2px solid var(--background-color);
  }

  .p-mva {
    left: 40px;
    position: relative;
  }
  .p-mvb {
    left: 30px;
    position: relative;
  }
  .p-mvc {
    left: 20px;
    position: relative;
  }
  .p-mvd {
    left: 10px;
    position: relative;
  }
  .p-mve {
    left: 0;
    position: relative;
  }

  .p-icon-contain {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
  }

  .p-icon-contain:hover {
    background-color: var(--primary-color);
  }

  .icon-add {
    height: 20px;
    width: 20px;
    fill: var(--background-color);
  }

  .notFound-img {
    height: 100px;
    width: inherit;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
  }



  .hero-img,
  .hero-info {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-img {
    flex-direction: column;
  }

  .hero-image {
    width: 300px;
    object-fit: cover;
    object-position: center;
  }

  .connect-image {
    height: 140px;
    display: none;
    object-fit: contain;
    object-position: center;
  }

  .hero-form {
    gap: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 40px 0 40px;
    color: var(--secondary-color);
    background-color: var(--background-color);
  }

  .hero-form h1 {
    font-size: 0.8rem;
  }

  .form-group {
    width: 100%;
  }

  .form-g-input {
    width: 100%;
    border: 1px solid var(--secondary-color);
  }

  .form-g-input::placeholder {
    font-size: 0.8rem;
    text-transform: capitalize;
  }

  .form-g-input:hover {
    border: 1px solid var(--primary-color);
  }

  .btn-form {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .btn-form:hover {
    background-color: var(--primary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .hero-section {
    padding: 10px;
    position: relative;
    align-items: center;
    flex-direction: row;
  }

  .hero-wrapper {
    padding-top: 10px;
  }


  .hero-form {
    width: 300px;
  }

  .hero-image {
    width:500px;
  }

  .connect-image { 
    display: flex;
  }

  .category-section {
    height: 100vh;
  }

  .section-info {
    flex: 50%;
  }

  .section-img {
    flex: 50%;
  }

  .section-info {
    padding: 20px;
  }

  .hero-section-banner span {
    font-size: 0.7rem;
  }

  .hero-section-banner h2 {
    font-size: 0.8rem;
  }

  .h-info {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .h-info h1 {
    font-size: 2.5rem;
  }

  .h-info span {
    color: var(--primary-color);
  }


  .h-btn {
    padding: 20px;
  }

  .h-btn span {
    display: flex;
  }

  .h-btn-inner {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-result {
    gap: 10px;
    width: 495px;
    bottom: -100px;
    min-height: 140px;
    max-height: 140px;
    position: absolute;
  }

  .hero-img {
    height: 320px;
  }

  .search-result th,
  .search-result td {
    font-size: 0.8rem;
  }

  .job-top {
    top: -20px;
    left: 0;
  }

  .job-top h1 {
    font-size: 1.3rem;
  }

  .job-top span {
    font-size: 0.8rem;
  }

  .job-bottom {
    right: -20px;
    bottom: -40px;
    position: absolute;
    width: fit-content;
  }

  .job-bottom h1 {
    font-size: 1.2rem;
  }

  .p-img {
    height: 50px;
    
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {

}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
