@media screen {
  .nav-section {
    top: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
    border-radius: 0 0 20px 20px;
    
  }

  .nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    z-index: 99999;
    font-size: .9rem;
    font-weight: 300;
    position: fixed;
    padding: 15px 10px;
    align-items: center;
    border-radius:inherit;
    justify-content: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    background-color: var(--background-color);
  }

  .nav-logo {
    height: 40px;
  }

  .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .nav-middle {
    width: 40%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  a,
  router-link {
    font-weight: 400;
    text-decoration: none;
    color: var(--dark-color);

  }

  .router-link-active {
    color: var(--secondary-color);
  }

  .active {
    color: var(--secondary-color);
  }

  .router-link-active-exact {
    color: var(--secondary-color);
  }

  .nav-link:hover {
    color: var(--secondary-color);
  }

  .menu-icon {
    width: 35px;
    height: 35px;
    fill: var(--secondary-color);
  }

  .nav-end {
    gap: 15px;
    display: none;
    align-items: center;
  }

  .btn-apply {
    cursor: pointer;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid var(--background-color);
  }

  .btn-logout{
    cursor: pointer;
    font-weight: 300;
    font-size: 0.8rem;
    padding: 10px 40px;
    border-radius: 8px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .btn-apply {
    color: var(--background-color);
    background-color: var(--secondary-color);


  }

  .btn-apply:hover {
    color: var(--background-color);
    background-color: var(--secondary-light-color);
  }

  .mobile-nav-menu {
    top: 80px;
    gap: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    z-index: 99999;
    position: fixed;
    font-size: 0.9rem;
    border-radius: 20px;
    flex-direction: column;
    backdrop-filter: blur(7px);
    justify-content: space-between;
    -webkit-backdrop-filter: blur(7px);
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .nav-content-menu {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .nav-content-menu a,
  .router-link {
    padding: 10px;
  }

  .nav-end-menu {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-content-menu .router-link-active {
    padding: 10px;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .active-mobile {
    padding: 10px;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .nav-content-menu a:hover {
    padding: 10px;
    border-radius: 12px;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .menu-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .menu-btn:hover {
    color: var(--secondary-color);
  }

  .active-btn {
    border: 1px solid var(--background-color);
    background-color: var(--secondary-color);
  }

  .active-btn:hover {
    background-color: var(--secondary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .nav-section {
    border-radius: 0;

   }


  .mobile-nav {
    display: flex;
  }

  .nav-middle {
    display: flex;
  }

  .nav-end {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
